    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>ESE Movie Club</title>
    <meta name="description" content="Flat Design Mini Portfolio">
    <meta name="keywords" content="responsive, bootstrap, flat design, flat ui, portfolio">
    <meta name="author" content="Dzyngiri">
    <meta name="description" content="This is a responsive flat design mini portfolio for creative folks who want to showcase their work online.">
    <!-- styles -->
    <link href="/static/profile_page/css/bootstrap.css" rel="stylesheet">
    <link href="/static/profile_page/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/profile_page/css/style.css" rel="stylesheet">
    <link href="/static/profile_page/font/css/fontello.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    
    </head>
    <body>
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
        <a class="brand"><img src="/static/profile_page/img/movie_icon.png"/></a>
          <ul class="nav nav-collapse pull-right">
            <li><a href="/profile/" class="active"><i class="icon-user"></i> Profile</a></li>
            <li><a href="/friends/"><i class="icon-trophy"></i> Friends</a></li>
            <li><a href="/kicks_list/"><i class="icon-picture"></i> Kicks</a></li>
            <li><a href="/season/"><i class="icon-doc-text"></i>Season</a></li>
          </ul>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>
        {% for user in users %}
          {% if user.userName == selectedFriend %}
    <!--Profile container-->
    <div class="container profile">
      {% if user.thumbnail %}
      <div class="span3"> <img src="/static/profile_page/profile_pics/{{ user.thumbnail }}" width ="200"> </div>
      {% else %}
      <div class="span3"> <img src="/static/profile_page/profile_pics/no_image.png" width ="200"> </div>
      {% endif %}
      <div class="span5"> 
        
        
				<h1>{{ user.firstName }}  {{ user.lastName }}</h1>    
				<p>Expertise: <c>{{ user.expertise }}</c></p>
				<p>Genres: <c>{{ user.genres }}</c></p>
				{% if 'imdb' in user.ratings %} 
            <p>Ratings: <c></c>
            <a href="{{ user.ratings }}" target="_blank"><img style="border:none; padding:0px;" src="/static/site_images/imdb_logo.png"></img></a></p>
          {% else %}
            <p>Ratings: <c><a href="{{ user.ratings }}" target="_blank">{{ user.ratings }}</a> </c></p>
        {% endif %}
        {% if 'imdb' in user.top100 %} 
            <p>Top 100 list: <c></c>
            <a href="{{ user.top100 }}" target="_blank"><img style="border:none; padding:0px;" src="/static/site_images/imdb_logo.png"></img></a></p>
          {% else %}
            <p>Top 100 list: <c><a href="{{ user.top100 }}" target="_blank">{{ user.top100 }}</a> </c></p>
        {% endif %}
        {% if 'imdb' in user.ratings %} 
            <p>Watchlist: <c></c>
            <a href="{{ user.watchlist }}" target="_blank"><img style="border:none; padding:0px;" src="/static/site_images/imdb_logo.png"></img></a></p>
          {% else %}
            <p>Watchlist: <c><a href="{{ user.watchlist }}" target="_blank">{{ user.watchlist }}</a> </c></p>
        {% endif %}
				
				<!-- {% with firstName=user.firstName %} {{ firstName }}    {% endwith %}  	-->
        	
        <p></p>
       
        {% endif %}
        {% endfor %}

        <a href="#" class="hire-me" onClick="alert( '\n\n--------------------------------------\n   This feature is under development\n   Email gsaxam@gmail.com for updates\n --------------------------------------' )"><i class="icon-paper-plane"></i> Recommend a kick </a> </div>
    </div>
    </div>
    <!--END: Profile container-->
    <!-- Social Icons -->
    <div class="row social">
      <ul class="social-icons">
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/fb.png" alt="facebook"></a></li>
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/tw.png" alt="twitter"></a></li>
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/go.png" alt="google plus"></a></li>
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/pin.png" alt="pinterest"></a></li>
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/st.png" alt="stumbleupon"></a></li>
        <li><a href="#" target="_blank"><img src="/static/profile_page/img/dr.png" alt="dribbble"></a></li>
      </ul>
    </div>
    <!-- END: Social Icons -->
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <p class="pull-left"><a href="#">www.laaugh.com/kick</a></p>
        <p class="pull-right"><a role="button" data-toggle="modal"> <i class="icon-mail"></i> logged in as: <font color="#39d084">{{ request.session.currentUser }}</font></a></p>
      </div>
    </div>
    <!-- Contact form in Modal -->
    <!-- Modal -->
    
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/profile_page/js/bootstrap.min.js"></script>
    
    </SCRIPT>
    </body>
    </html>
