<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>ESC Movie Club</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="js/prefixfree.min.js"></script>

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div><img src="/static/site_images/kick_logo.png"></img></div>
		</div>
		<br>
		<br>
		
		<div class="login">
			
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% endif %}
			<form action="/login/" method="post">
				{% csrf_token %}
				
				<input type="text" placeholder="username" name="username" value="{{username}}" /><br />
				<input type="password" placeholder="password"  name="password" /><br />

				<input type="submit" value="Log In" />
			</form>
				
				
		</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>